<waves-page-header title="Address" subtitle="ctrl.address"></waves-page-header>
<div class="row">
    <div class="col-lg-12">
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name width-20">Regular Balance</div>
                <div class="profile-info-value">{{ctrl.balance.regular|wavelets}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Generating Balance</div>
                <div class="profile-info-value">{{ctrl.balance.generating|wavelets}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Available Balance</div>
                <div class="profile-info-value">{{ctrl.balance.available|wavelets}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Effective Balance</div>
                <div class="profile-info-value">{{ctrl.balance.effective|wavelets}}</div>
            </div>
        </div>
    </div>
</div>

<div class="hr hr12 hr-dotted"></div>

<div class="row">
    <div class="col-lg-12">

        <uib-tabset>
            <uib-tab index="0" heading="Last 100 transactions" select="ctrl.loadTransactions()">
                <table ng-show="ctrl.txs.length > 0" class="table blockDetails">
                    <thead>
                    <tr class="active">
                        <th>ID</th>
                        <th>Type</th>
                        <th>Timestamp</th>
                        <th>Sender</th>
                        <th></th>
                        <th>Recipient</th>
                        <th><span class="pull-left">Amount</span></th>
                        <th>Fee</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in ctrl.txs | orderBy:'timestamp':true">
                        <td><waves-transaction-ref tx-id="item.id" max-length="7"></waves-transaction-ref></td>
                        <td>{{item.type|txtype}}</td>
                        <td>{{item.timestamp|wavesdate}}</td>

                        <td ng-if="item.sender!==ctrl.address">
                            <waves-endpoint-ref endpoint="item.sender" max-length="24"></waves-endpoint-ref>
                        </td>
                        <td ng-if="item.sender===ctrl.address">
                            <span class="mono">{{item.sender|limitTo:24}}&hellip;</span></td>
                        <td><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"
                                  ng-class="{'text-danger':item.outgoing,'text-success':!item.outgoing}"></span></td>
                        <td ng-if="item.recipient!==ctrl.address">
                            <waves-endpoint-ref endpoint="item.recipient" max-length="24"></waves-endpoint-ref>
                        </td>
                        <td ng-if="item.recipient===ctrl.address">
                            <span class="mono">{{item.recipient|limitTo:24}}&hellip;</span></td>
                        <td>{{item.extras.amount.amount}}</td>
                        <td>{{item.extras.fee}}</td>
                    </tr>
                    </tbody>
                    <div class="panel-body" ng-show="ctrl.txs.length == 0">{{ctrl.txsMessage}}</div>
                </table>
            </uib-tab>
            <uib-tab index="1" heading="Aliases" select="ctrl.loadAliases()">
                <table ng-show="ctrl.aliases.length > 0" class="table blockDetails">
                    <thead>
                    <tr class="active">
                        <th>Alias</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in ctrl.aliases">
                        <td>{{item.text|limitTo:40}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="panel-body" ng-show="ctrl.aliases.length == 0">{{ctrl.aliasesMessage}}</div>
            </uib-tab>
            <uib-tab index="2" heading="Assets" select="ctrl.loadAssets()">
                <table ng-show="ctrl.assets.length > 0" class="table blockDetails">
                    <thead>
                    <tr class="active">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ctrl.assets">
                            <td><waves-transaction-ref tx-id="item.id"></waves-transaction-ref></td>
                            <td>{{item.name}}</td>
                            <td>{{item.balance|assetunits:item.decimals}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-body" ng-show="ctrl.assets.length == 0">{{ctrl.assetsMessage}}</div>
            </uib-tab>
        </uib-tabset>

    </div>
</div>
