<waves-page-header title="Block" subtitle="ctrl.signature"></waves-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name width-20">Version</div>
                <div class="profile-info-value">{{ctrl.details.version}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Timestamp</div>
                <div class="profile-info-value">{{ctrl.details.timestamp|wavesdate}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Transactions</div>
                <div class="profile-info-value">{{ctrl.details.transactions.length}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Parent block</div>
                <div class="profile-info-value">{{ctrl.details.reference}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Generator</div>
                <div class="profile-info-value"><waves-endpoint-ref endpoint="ctrl.details.generator"></waves-endpoint-ref></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Signature</div>
                <div class="profile-info-value">{{ctrl.details.signature}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Size</div>
                <div class="profile-info-value">{{ctrl.details.blocksize}} bytes</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Base Target</div>
                <div class="profile-info-value">{{ctrl.details["nxt-consensus"]["base-target"]}}</div>
            </div>
        </div>
        <h2 class="header smaller blue">Transactions</h2>

        <waves-transaction-table title="Transactions">
            <table class="table blockDetails">
                <thead>
                <tr class="active">
                    <th>Type</th>
                    <th>Fee</th>
                    <th>Timestamp</th>
                    <th>Signature</th>
                    <th>Sender</th>
                    <th>Recipient</th>
                    <th><span class="pull-right">Amount</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in ctrl.details.transactions">
                    <td>{{item.type}}</td>
                    <td>{{item.fee|wavelets}}</td>
                    <td>{{item.timestamp|wavesdate}}</td>
                    <td><a class="mono" ui-sref="tx-details({id:item.id})">{{item.signature|limitTo:7}}...</a></td>
                    <td><waves-endpoint-ref endpoint="item.sender" max-length="12"></waves-endpoint-ref></td>
                    <td><waves-endpoint-ref endpoint="item.recipient" max-length="12"></waves-endpoint-ref></td>
                    <td><span class="pull-right">{{item.amount|wavelets}}</span></td>
                </tr>
                </tbody>
            </table>
        </waves-transaction-table>
    </div>
</div>
