<waves-page-header title="Block" subtitle="ctrl.height.toString()"></waves-page-header>
<div class="row">
    <div class="col-lg-12">
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name width-20">Height</div>
                <div class="profile-info-value"><button class="btn btn-info btn-xs btn-white" ng-click="ctrl.prev()"><i class="icon-only bigger-110 glyphicon glyphicon-chevron-left"></i></button> {{ctrl.height}}
                    <button class="btn btn-info btn-xs btn-white" ng-click="ctrl.next()"><i class="icon-only bigger-110 glyphicon glyphicon-chevron-right"></i></button></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Version</div>
                <div class="profile-info-value">{{ctrl.details.version}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Timestamp</div>
                <div class="profile-info-value">{{ctrl.details.timestamp|wavesdate}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Transactions</div>
                <div class="profile-info-value">{{ctrl.details.transactions.length}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Parent block</div>
                <div class="profile-info-value">{{ctrl.details.reference}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Generator</div>
                <div class="profile-info-value"><waves-endpoint-ref endpoint="ctrl.details.generator"></waves-endpoint-ref></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Signature</div>
                <div class="profile-info-value">{{ctrl.details.signature}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Size</div>
                <div class="profile-info-value">{{ctrl.details.blocksize}} bytes</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Base Target</div>
                <div class="profile-info-value">{{ctrl.details["nxt-consensus"]["base-target"]}}</div>
            </div>
        </div>
        <h2 class="header smaller blue">Transactions</h2>

        <waves-transaction-table title="Payments [type = 2]" ng-show="ctrl.payments.length > 0">
            <table class="table blockDetails">
                <thead>
                <tr class="active">
                    <th>ID</th>
                    <th>Fee</th>
                    <th>Timestamp</th>
                    <th>Sender</th>
                    <th>Recipient</th>
                    <th><span class="pull-right">Amount</span></th>
                    <th><span class="pull-right">Asset</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in ctrl.payments">
                    <td><waves-transaction-ref tx-id="item.id" max-length="12"></waves-transaction-ref></td>
                    <td>{{item.extras.fee}}</td>
                    <td>{{item.timestamp|wavesdate}}</td>
                    <td><waves-endpoint-ref endpoint="item.sender" max-length="12"></waves-endpoint-ref></td>
                    <td><waves-endpoint-ref endpoint="item.recipient" max-length="12"></waves-endpoint-ref></td>
                    <td><span class="pull-right">{{item.extras.amount.amount}}</span></td>
                    <td><span class="pull-right">{{item.extras.amount.currency}}</span></td>
                </tr>
                </tbody>
            </table>
        </waves-transaction-table>

        <waves-transaction-table title="Asset Issue [type = 3]" ng-show="ctrl.assetIssue.length > 0">
            <table class="table blockDetails">
                <thead>
                <tr class="active">
                    <th>ID</th>
                    <th>Fee</th>
                    <th>Timestamp</th>
                    <th>Issuer</th>
                    <th>Asset ID</th>
                    <th>Asset Name</th>
                    <th><span class="pull-right">Quantity</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in ctrl.assetIssue">
                    <td><waves-transaction-ref tx-id="item.id" max-length="12"></waves-transaction-ref></td>
                    <td>{{item.extras.fee}}</td>
                    <td>{{item.timestamp|wavesdate}}</td>
                    <td><waves-endpoint-ref endpoint="item.sender" max-length="12"></waves-endpoint-ref></td>
                    <td><waves-transaction-ref tx-id="item.assetId" max-length="12"></waves-transaction-ref></td>
                    <td>{{item.name}}</td>
                    <td><span class="pull-right">{{item.extras.amount.amount}}</span></td>
                </tr>
                </tbody>
            </table>
        </waves-transaction-table>

        <waves-transaction-table title="Asset Reissue [type = 5]" ng-show="ctrl.assetReissue.length > 0">
            <table class="table blockDetails">
                <thead>
                <tr class="active">
                    <th>ID</th>
                    <th>Fee</th>
                    <th>Timestamp</th>
                    <th>Issuer</th>
                    <th>Asset ID</th>
                    <th><span class="pull-right">Quantity</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in ctrl.assetReissue">
                    <td><waves-transaction-ref tx-id="item.id" max-length="12"></waves-transaction-ref></td>
                    <td>{{item.extras.fee}}</td>
                    <td>{{item.timestamp|wavesdate}}</td>
                    <td><waves-endpoint-ref endpoint="item.sender" max-length="12"></waves-endpoint-ref></td>
                    <td><waves-transaction-ref tx-id="item.assetId" max-length="12"></waves-transaction-ref></td>
                    <td><span class="pull-right">{{item.extras.amount.amount}}</span></td>
                </tr>
                </tbody>
            </table>
        </waves-transaction-table>

        <waves-transaction-table title="Transfers [type = 4]" ng-show="ctrl.assetTransfer.length > 0">
            <table class="table blockDetails">
                <thead>
                <tr class="active">
                    <th>ID</th>
                    <th>Fee</th>
                    <th>Timestamp</th>
                    <th>Sender</th>
                    <th>Recipient</th>
                    <th>Amount</th>
                    <th>Asset</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in ctrl.assetTransfer">
                    <td><waves-transaction-ref tx-id="item.id" max-length="12"></waves-transaction-ref></td>
                    <td>{{item.extras.fee}}</td>
                    <td>{{item.timestamp|wavesdate}}</td>
                    <td><waves-endpoint-ref endpoint="item.sender" max-length="12"></waves-endpoint-ref></td>
                    <td><waves-endpoint-ref endpoint="item.recipient" max-length="12"></waves-endpoint-ref></td>
                    <td>{{item.extras.amount.amount}}</td>
                    <td ng-if="item.assetId === null">{{item.extras.amount.currency}}</td>
                    <td ng-if="item.assetId !== null">
                        <waves-transaction-ref tx-id="item.assetId" text="item.extras.amount.currency"></waves-transaction-ref>
                    </td>
                </tr>
                </tbody>
            </table>
        </waves-transaction-table>

        <waves-transaction-table title="Exchanges [type = 7]" ng-show="ctrl.exchange.length > 0">
            <table class="table blockDetails">
                <thead>
                <tr class="active">
                    <th>ID</th>
                    <th>Timestamp</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Total</th>
                    <th>Pair</th>
                    <th>Seller</th>
                    <th>Buyer</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in ctrl.exchange">
                    <td><waves-transaction-ref tx-id="item.id" max-length="12"></waves-transaction-ref></td>
                    <td>{{item.timestamp|wavesdate}}</td>
                    <td>{{item.extras.price}}</td>
                    <td>{{item.extras.amount.amount}}</td>
                    <td>{{item.extras.total.amount}}</td>
                    <td>
                        <nobr>
                            <waves-asset-ref asset-id="item.order1.assetPair.amountAsset" text="item.extras.amount.currency"></waves-asset-ref> /
                            <waves-asset-ref asset-id="item.order1.assetPair.priceAsset" text="item.extras.priceCurrency"></waves-asset-ref>
                        </nobr>
                    </td>
                    <td><waves-endpoint-ref endpoint="item.extras.from" max-length="12"></waves-endpoint-ref></td>
                    <td><waves-endpoint-ref endpoint="item.extras.to" max-length="12"></waves-endpoint-ref></td>
                </tr>
                </tbody>
            </table>
        </waves-transaction-table>

        <waves-transaction-table title="Leasing [type = 8]" ng-show="ctrl.leasing.length > 0">
            <table class="table blockDetails">
                <thead>
                <tr class="active">
                    <th>ID</th>
                    <th>Fee</th>
                    <th>Timestamp</th>
                    <th>Sender</th>
                    <th>Recipient</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in ctrl.leasing">
                    <td><waves-transaction-ref tx-id="item.id" max-length="12"></waves-transaction-ref></td>
                    <td>{{item.extras.fee}}</td>
                    <td>{{item.timestamp|wavesdate}}</td>
                    <td><waves-endpoint-ref endpoint="item.sender" max-length="12"></waves-endpoint-ref></td>
                    <td><waves-endpoint-ref endpoint="item.recipient" max-length="12"></waves-endpoint-ref></td>
                    <td>{{item.extras.amount.amount}}</td>
                </tr>
                </tbody>
            </table>
        </waves-transaction-table>

        <waves-transaction-table title="Cancel leasing [type = 9]" ng-show="ctrl.leasingCancel.length > 0">
            <table class="table blockDetails">
                <thead>
                <tr class="active">
                    <th>ID</th>
                    <th>Fee</th>
                    <th>Timestamp</th>
                    <th>Sender</th>
                    <th>Leasing TX</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in ctrl.leasingCancel">
                    <td><waves-transaction-ref tx-id="item.id" max-length="12"></waves-transaction-ref></td>
                    <td>{{item.extras.fee}}</td>
                    <td>{{item.timestamp|wavesdate}}</td>
                    <td><waves-endpoint-ref endpoint="item.sender"></waves-endpoint-ref></td>
                    <td><waves-transaction-ref tx-id="item.leaseId"></waves-transaction-ref></td>
                </tr>
                </tbody>
            </table>
        </waves-transaction-table>

        <waves-transaction-table title="Aliases [type = 10]" ng-show="ctrl.alias.length > 0">
            <table class="table blockDetails">
                <thead>
                <tr class="active">
                    <th>ID</th>
                    <th>Fee</th>
                    <th>Timestamp</th>
                    <th>Sender</th>
                    <th>Alias</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in ctrl.alias">
                    <td><waves-transaction-ref tx-id="item.id" max-length="12"></waves-transaction-ref></td>
                    <td>{{item.extras.fee}}</td>
                    <td>{{item.timestamp|wavesdate}}</td>
                    <td><waves-endpoint-ref endpoint="item.sender" max-length="12"></waves-endpoint-ref></td>
                    <td>{{item.alias}}</td>
                </tr>
                </tbody>
            </table>
        </waves-transaction-table>
    </div>
</div>