

<div class="row">
    <div class="col-lg-6">
        <div class="widget-box">
            <div class="widget-header widget-header-small widget-header-flat">
                <h5 class="widget-title">General info</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main padding-6">
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">
                            <div class="profile-info-name">Version:</div>
                            <div class="profile-info-value">{{ctrl.version}}</div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">Block generator status:</div>
                            <div class="profile-info-value">{{ctrl.status.blockGeneratorStatus}}</div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">History sync status:</div>
                            <div class="profile-info-value">{{ctrl.status.historySynchronizationStatus}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget-box">
            <div class="widget-header widget-header-small widget-header-flat">
                <h5 class="widget-title">Consensus</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main padding-6">
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">
                            <div class="profile-info-name">Algo:</div>
                            <div class="profile-info-value">{{ctrl.consensus.algo}}</div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">Base Target:</div>
                            <div class="profile-info-value"><span title="{{ctrl.consensus.baseTarget}}">{{ctrl.consensus.baseTarget}}</span></div>
                        </div>
                        <div class="profile-info-row" ng-show="ctrl.avgBlockDelay">
                            <div class="profile-info-name">Avg Block delay:</div>
                            <div class="profile-info-value">{{ctrl.avgBlockDelay|currency:''}} minutes</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-6"></div>
<div class="row">
    <div class="col-lg-6">
        <div class="widget-box">
            <div class="widget-header widget-header-small widget-header-flat">
                <h5 class="widget-title">Last blocks</h5>
                <div class="widget-toolbar">
                    <a title="View All" ui-sref="blocks"><i class="glyphicon glyphicon-new-window"></i></a>
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main padding-6">
                    <div class="profile-feed">
                        <div class="profile-activity clearfix" ng-repeat="item in ctrl.lastBlocks">
                            <div>
                                <img class="pull-left" src="/icons/chain.png"/>
                                <div class="profile-data">
                                    <div>Block <a class="text-primary bolder" ui-sref="block-details({height:item.height})">{{item.height}}</a> contains <span class="badge">{{item.transactions.length}}</span> transactions
                                    </div>
                                    <div class="time row">
                                        <div class="col-xs-7">Signature: <span class="mono">{{item.signature|limitTo:24}}&hellip;</span></div>
                                        <div class="col-xs-5"><i class="glyphicon glyphicon-time"></i> {{item.timestamp|wavesdate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget-box">
            <div class="widget-header widget-header-small widget-header-flat">
                <h5 class="widget-title">Unconfirmed Transactions <span class="badge badge-info">{{ctrl.unconfirmedTxs.length}}</span></h5>
            </div>
            <div class="widget-body">
                <div class="widget-main padding-6">
                    <table class="table">
                        <thead>
                        <tr class="active">
                            <th>Id</th>
                            <th>Type</th>
                            <th>Fee</th>
                            <th>Timestamp</th>
                            <th>Sender</th>
                            <th>Recipient</th>
                            <th><span class="pull-left">Amount</span></th>
                        </tr>
                        </thead>
                        <tr ng-repeat="item in ctrl.unconfirmedTxs">
                            <td><a ui-sref="tx-details({id:item.id})">{{item.id|limitTo:5}}...</a></td>
                            <td>{{item.type}}</td>
                            <td>{{item.fee|wavelets}}</td>
                            <td>{{item.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td><waves-endpoint-ref endpoint="item.sender" max-length="6"></waves-endpoint-ref></td>
                            <td><waves-endpoint-ref endpoint="item.recipient" max-length="6"></waves-endpoint-ref></td>
                            <td><span class="pull-left">{{item.amount|wavelets}}</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
