<waves-page-header title="Transaction" subtitle="ctrl.id"></waves-page-header>
<div class="row">
    <div class="col-lg-12">

        <div class="profile-user-info profile-user-info-striped" ng-show="ctrl.details.type==2">
            <div class="profile-info-row">
                <div class="profile-info-name">Type</div>
                <div class="profile-info-value">{{ctrl.details.type}} <span class="label label-light arrowed">Payment</span></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Timestamp</div>
                <div class="profile-info-value">{{ctrl.details.timestamp|wavesdate}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Block</div>
                <div class="profile-info-value"><waves-block-ref height="ctrl.details.height"/></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Amount</div>
                <div class="profile-info-value">{{ctrl.details.extras.amount.amount}} {{ctrl.details.extras.amount.currency}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Fee</div>
                <div class="profile-info-value">{{ctrl.details.extras.fee}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Sender</div>
                <div class="profile-info-value"><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Recipient</div>
                <div class="profile-info-value"><waves-endpoint-ref endpoint="ctrl.details.recipient"></waves-endpoint-ref></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Signature</div>
                <div class="profile-info-value">{{ctrl.details.signature}}</div>
            </div>
        </div>

        <div class="profile-user-info profile-user-info-striped" ng-show="ctrl.details.type==3">
            <div class="profile-info-row">
                <div class="profile-info-name">Type</div>
                <div class="profile-info-value">{{ctrl.details.type}} <span class="label label-light arrowed">Asset issue</span></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Timestamp</div>
                <div class="profile-info-value">{{ctrl.details.timestamp|wavesdate}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Block</div>
                <div class="profile-info-value"><waves-block-ref height="ctrl.details.height"/></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Asset ID</div>
                <div class="profile-info-value">{{ctrl.details.assetId}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Asset Name</div>
                <div class="profile-info-value">{{ctrl.details.name}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Reissuable</div>
                <div class="profile-info-value"><waves-boolean value="ctrl.details.reissuable"></waves-boolean></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Amount</div>
                <div class="profile-info-value">{{ctrl.details.extras.amount.amount}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Decimals</div>
                <div class="profile-info-value">{{ctrl.details.decimals}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Description</div>
                <div class="profile-info-value"><div class="well well-sm mono">{{ctrl.details.description}}</div></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Fee</div>
                <div class="profile-info-value">{{ctrl.details.extras.fee}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Issuer</div>
                <div class="profile-info-value"><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Signature</div>
                <div class="profile-info-value">{{ctrl.details.signature}}</div>
            </div>
        </div>

        <div class="profile-user-info profile-user-info-striped" ng-show="ctrl.details.type==4">
            <div class="profile-info-row">
                <div class="profile-info-name">Type</div>
                <div class="profile-info-value">{{ctrl.details.type}} <span class="label label-light arrowed">Asset Transfer</span></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Timestamp</div>
                <div class="profile-info-value">{{ctrl.details.timestamp|wavesdate}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Block</div>
                <div class="profile-info-value"><waves-block-ref height="ctrl.details.height"></waves-block-ref></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Asset ID</div>
                <div class="profile-info-value"><a class="mono" ui-sref="tx-details({id:ctrl.details.assetId})">{{ctrl.details.assetId}}</a></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Amount</div>
                <div class="profile-info-value">{{ctrl.details.extras.amount.amount}} {{ctrl.details.extras.amount.currency}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Attachment</div>
                <div class="profile-info-value"><pre>{{ctrl.details.attachment}}</pre></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Fee</div>
                <div class="profile-info-value">{{ctrl.details.extras.fee}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Sender</div>
                <div class="profile-info-value"><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Recipient</div>
                <div class="profile-info-value"><waves-endpoint-ref endpoint="ctrl.details.recipient"></waves-endpoint-ref></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Signature</div>
                <div class="profile-info-value">{{ctrl.details.signature}}</div>
            </div>
        </div>

        <div class="profile-user-info profile-user-info-striped" ng-show="ctrl.details.type==5">
            <div class="profile-info-row">
                <div class="profile-info-name">Type</div>
                <div class="profile-info-value">{{ctrl.details.type}} <span class="label label-light arrowed">Asset reissue</span></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Timestamp</div>
                <div class="profile-info-value">{{ctrl.details.timestamp|wavesdate}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Block</div>
                <div class="profile-info-value"><waves-block-ref height="ctrl.details.height"/></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Asset ID</div>
                <div class="profile-info-value"><a class="mono" ui-sref="tx-details({id:ctrl.details.assetId})">{{ctrl.details.assetId}}</a></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Reissuable</div>
                <div class="profile-info-value"><waves-boolean value="ctrl.details.reissuable"></waves-boolean></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Quantity</div>
                <div class="profile-info-value">{{ctrl.details.extras.amount.amount}} {{ctrl.details.extras.amount.currency}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Fee</div>
                <div class="profile-info-value">{{ctrl.details.extras.fee}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Issuer</div>
                <div class="profile-info-value"><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Signature</div>
                <div class="profile-info-value">{{ctrl.details.signature}}</div>
            </div>
        </div>

        <ng-show ng-show="ctrl.details.type==7">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name">Type</div>
                    <div class="profile-info-value">{{ctrl.details.type}} <span class="label label-light arrowed">Exchange</span></div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Timestamp</div>
                    <div class="profile-info-value">{{ctrl.details.timestamp|wavesdate}}</div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Block</div>
                    <div class="profile-info-value"><waves-block-ref height="ctrl.details.height"/></div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Matcher Address</div>
                    <div class="profile-info-value"><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Price</div>
                    <div class="profile-info-value">{{ctrl.details.extras.price}} {{ctrl.details.extras.priceCurrency}}</div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Amount</div>
                    <div class="profile-info-value">{{ctrl.details.extras.amount.amount}} {{ctrl.details.extras.amount.currency}}</div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Total</div>
                    <div class="profile-info-value">{{ctrl.details.extras.total.amount}} {{ctrl.details.extras.total.currency}}</div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Buy Matcher Fee</div>
                    <div class="profile-info-value">{{ctrl.details.buyMatcherFee|wavelets}}</div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Sell Matcher Fee</div>
                    <div class="profile-info-value">{{ctrl.details.sellMatcherFee|wavelets}}</div>
                </div>
            </div>

            <h3 class="header blue smaller">Asset Pair</h3>
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name">Amount Asset</div>
                    <div class="profile-info-value"><waves-asset-ref asset-id="ctrl.details.order1.assetPair.amountAsset" text="ctrl.details.extras.amount.currency"></waves-asset-ref></div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Price Asset</div>
                    <div class="profile-info-value"><waves-asset-ref asset-id="ctrl.details.order1.assetPair.priceAsset" text="ctrl.details.extras.priceCurrency"></waves-asset-ref></div>
                </div>
            </div>

            <h3 class="header blue smaller">Order 1</h3>
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name">ID</div>
                    <div class="profile-info-value">{{ctrl.details.order1.id}}</div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Sender</div>
                    <div class="profile-info-value"><waves-endpoint-ref endpoint="ctrl.details.order1.address"></waves-endpoint-ref></div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Type</div>
                    <div class="profile-info-value"><span class="label label-white middle">{{ctrl.details.order1.orderType}}</span></div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Amount</div>
                    <div class="profile-info-value">{{ctrl.details.order1.amount}}</div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Price</div>
                    <div class="profile-info-value">{{ctrl.details.order1.price}}</div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Timestamp</div>
                    <div class="profile-info-value">{{ctrl.details.order1.timestamp|wavesdate}}</div>
                </div>
            </div>

            <h3 class="header blue smaller">Order 2</h3>
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name">ID</div>
                    <div class="profile-info-value">{{ctrl.details.order2.id}}</div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Sender</div>
                    <div class="profile-info-value"><waves-endpoint-ref endpoint="ctrl.details.order2.address"></waves-endpoint-ref></div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Type</div>
                    <div class="profile-info-value"><span class="label label-white middle">{{ctrl.details.order2.orderType}}</span></div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Amount</div>
                    <div class="profile-info-value">{{ctrl.details.order2.amount}}</div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Price</div>
                    <div class="profile-info-value">{{ctrl.details.order2.price}}</div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Timestamp</div>
                    <div class="profile-info-value">{{ctrl.details.order2.timestamp|wavesdate}}</div>
                </div>
            </div>
        </ng-show>

        <div class="profile-user-info profile-user-info-striped" ng-show="ctrl.details.type==8">
            <div class="profile-info-row">
                <div class="profile-info-name">Type</div>
                <div class="profile-info-value">{{ctrl.details.type}} <span class="label label-light arrowed">Lease</span></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Timestamp</div>
                <div class="profile-info-value">{{ctrl.details.timestamp|wavesdate}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Block</div>
                <div class="profile-info-value"><waves-block-ref height="ctrl.details.height"/></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Amount</div>
                <div class="profile-info-value">{{ctrl.details.extras.amount.amount}} {{ctrl.details.extras.amount.currency}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Fee</div>
                <div class="profile-info-value">{{ctrl.details.extras.fee}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Sender</div>
                <div class="profile-info-value"><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Recipient</div>
                <div class="profile-info-value"><waves-endpoint-ref endpoint="ctrl.details.recipient"></waves-endpoint-ref></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Signature</div>
                <div class="profile-info-value">{{ctrl.details.signature}}</div>
            </div>
        </div>

        <div class="profile-user-info profile-user-info-striped" ng-show="ctrl.details.type==9">
            <div class="profile-info-row">
                <div class="profile-info-name">Type</div>
                <div class="profile-info-value">{{ctrl.details.type}} <span class="label label-light arrowed">Lease Cancel</span></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Timestamp</div>
                <div class="profile-info-value">{{ctrl.details.timestamp|wavesdate}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Block</div>
                <div class="profile-info-value"><waves-block-ref height="ctrl.details.height"/></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Leasing TX</div>
                <div class="profile-info-value"><waves-transaction-ref tx-id="ctrl.details.leaseId"></waves-transaction-ref></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Fee</div>
                <div class="profile-info-value">{{ctrl.details.extras.fee}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Sender</div>
                <div class="profile-info-value"><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Signature</div>
                <div class="profile-info-value">{{ctrl.details.signature}}</div>
            </div>
        </div>

        <div class="profile-user-info profile-user-info-striped" ng-show="ctrl.details.type==10">
            <div class="profile-info-row">
                <div class="profile-info-name">Type</div>
                <div class="profile-info-value">{{ctrl.details.type}} <span class="label label-light arrowed">Create Alias</span></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Timestamp</div>
                <div class="profile-info-value">{{ctrl.details.timestamp|wavesdate}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Block</div>
                <div class="profile-info-value"><waves-block-ref height="ctrl.details.height"/></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Alias</div>
                <div class="profile-info-value">{{ctrl.details.alias}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Fee</div>
                <div class="profile-info-value">{{ctrl.details.extras.fee}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Sender</div>
                <div class="profile-info-value"><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Signature</div>
                <div class="profile-info-value">{{ctrl.details.signature}}</div>
            </div>
        </div>

        <div class="profile-user-info profile-user-info-striped" ng-show="ctrl.details.type==11">
            <div class="profile-info-row">
                <div class="profile-info-name">Type</div>
                <div class="profile-info-value">{{ctrl.details.type}} <span class="label label-light arrowed">Mass Payment</span></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Timestamp</div>
                <div class="profile-info-value">{{ctrl.details.timestamp|wavesdate}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Block</div>
                <div class="profile-info-value"><waves-block-ref height="ctrl.details.height"/></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Total Amount</div>
                <div class="profile-info-value">{{ctrl.details.extras.amount.amount}} {{ctrl.details.extras.amount.currency}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Attachment</div>
                <div class="profile-info-value"><pre>{{ctrl.details.attachment}}</pre></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Fee</div>
                <div class="profile-info-value">{{ctrl.details.extras.fee}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Sender</div>
                <div class="profile-info-value"><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Signature</div>
                <div class="profile-info-value">{{ctrl.details.signature}}</div>
            </div>
        </div>

    </div>
</div>