button {
    cursor: pointer;

    &.long {
        width: 100%;
    }

    &.big {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 0 none;
        font-size: 14px;
        outline: none;
        text-align: center;
        padding: 0 12px;
        height: 48px;
        line-height: 48px;
        transition: .3s;
        apperance: none;
        -webkit-apperance: none;

        &.submit {
            background-color: map-get($colors, submit400);
            color: map-get($colors, white);

            &:hover, &.hover {
                background-color: map-get($colors, submit500);
            }

            &:active, &.active {
                background-color: map-get($colors, submit600);
            }

            &:disabled, &.disabled {
                opacity: .3;
                cursor: default;
            }
        }
    }
}
