@use "variables";
@use "mixins.scss";

.converter {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 30px;

    &-title {
        font-size: 19px;
        margin-bottom: 10px;
    }

    &-arrows {
        width: 22px;
        height: 22px;
        background-image: url('../images/converters-arrows.svg');
        background-size: contain;
        cursor: pointer;
    }

    &-waves-title {
        display: flex;
        align-items: center;
        margin-right: 16px;
        font-size: 14px;

        &::before {
            width: 24px;
            height: 24px;
            content: url('../images/waves-icon.svg');
            margin-right: 8px;
        }
    }

    &-ethereum-title {
        display: flex;
        align-items: center;
        margin-right: 16px;
        font-size: 14px;

        &::before {
            width: 24px;
            height: 24px;
            content: url('../images/ethereum-icon.svg');
            margin-right: 8px;
        }
    }

    &-input {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #F8F9FB;

        * {
            background-color: #F8F9FB;
        }

        &-field {
            border: unset;
            border-radius: unset;
        }
    }

    &-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &-button {
        width: 110px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #1F5AF6;
        color: white;
        font-size: 14px;
        border-radius: 6px;
        cursor: pointer;

        &-icon {
            background-image: url('../images/convert-icon.svg');
            margin-right: 4px;
            width: 11px;
            height: 12px;
        }
    }
}
