@import "variables";
@import "mixins.scss";

.converter {
    display: flex;
    align-items: center;

    &-item {
        width: 300px;
        display: flex;
        align-items: center;
        div {
            padding: 0 10px;
            text-align: center;
        }

        &-field {
            height: 42px;
            flex: 1;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            border: 1px solid map-get($colors, paleBlue);
        }
    }

    &-icon {
        width: 20px;
        height: 20px;
        margin: 0 10px;
    }
}
