.card {
    &.faucet {
        label {
            display: block;
        }
        input[type="text"] {
            border-radius: 4px;
        }
    }
}

.content-side__left {
    flex-grow: 0;
    width: 100%;
    min-width: 352px;
    @media screen and (min-width: 801px) {
        max-width: 352px;
        margin-right: 24px;
    }
}

.content-side__right {
    flex-grow: 1;
}

.faucet-image {
    background: url(../images/userimg-faucet-260.svg) center no-repeat;
    width: 260px;
    height: 216px;
    margin: -24px auto 24px;
}

.get-waves-btn {
    span {
        background: url(../images/money-plus-18-white.svg) center left no-repeat;
        padding-left: 26px;
    }
}

.faucet-description {
    padding: 24px;
}

.faucetValidation {
    display: flex;
    margin: 24px 0 34px;
    padding: 12px;
    width: calc(100% - 27px);
    border-radius: 4px;

    &__isValid {
        color: map-get($colors, success400);
        border: 1px dashed #dee3ea;
        .status-icon {
            background: url(../images/check-18-success-400.svg);
        }
    }

    &__isInvalid {
        color: map-get($colors, error500);
        border: 1px dashed map-get($colors, error500);
        .status-icon {
            background: url(../images/alert-triangle-18-error-500.svg);
        }
    }
}

.status-icon {
    margin-right: 12px;
    width: 18px;
    height: 18px;
    min-width: 18px;
}
