@use "sass:map";
@use "variables";
@use "mixins.scss";

@each $size in map.keys(variables.$breakpoints) {
    .#{$size}-hide {
        @include mixins.breakpoint($size) {
            display: none !important;
        }
    }
    .#{$size}-show {
        @include mixins.breakpoint($size) {
            display: block !important;
        }
    }
}

.grid {
    display: flex;
    flex-wrap: nowrap;

    &.grid-wrap {
        flex-wrap: wrap;
    }

    &.grid-baseline {
        align-items: baseline;
    }

    &.grid-center {
        align-items: center;
    }

    > .grid-item-fixed {
        flex: 0 0 auto;
    }

    > * {
        box-sizing: border-box;
        min-width: 0;
        flex: 1 1 auto;
    }

    @for $i from 1 through 12 {
        .column-#{$i} {
            width: calc(100% / 12 * $i);
        }
        @each $size in map.keys(variables.$breakpoints) {
            .column-#{$size}-#{$i} {
                @include mixins.breakpoint($size) {
                    width: calc(100% / 12 * $i);
                }
            }
        }
    }
}
