@import "brandbook.scss";
@import "mixins.scss";
@import "common.scss";
@import "general.scss";
@import "blocks.scss";
@import "nodes.scss";

body {
  background-color: map-get($colors, basic50);
  @include responsive_styles($layout);
}

.header {
  height: map-get($header, hight);

  > .header-title {
    width: map-get($header, title_width);

    > .menu-toggle {
      width: 42px;
      height: 100%;
      background: url('../images/menu-24.svg') no-repeat center left;
    }

    > .logo {
      background: url('../images/waves-124.svg') no-repeat 0 3px;

      &::after {
        content: "Explorer";
        left: 132px;
        bottom: -8px;
        position: relative;
        @include font(headline1);
      }
    }
  }
}

.search-box {
  background: url('../images/search.svg') no-repeat 0 10px;
  border-bottom: 1px solid map-get($colors, basic500);

  > input {
    margin-left: 36px;
    border-bottom: none;
    width: calc(100% - 36px);
  }
}

.container {
  @include responsive_styles($layout, padding-top);
}

.menu {
  width: map-get($header, title_width);
  height: calc(100vh - #{map-get($header, hight) + map-get($layout, padding-top)});

  > .menu-list {
    padding-top: 46px;

    >.menu-item {
      position: relative;
      margin-bottom: 28px;
      cursor: pointer;
      @include font(headline2, disabled500);

      &.current {
        color: map-get($colors, black);

        &::before {
          content: "";
          background-color: map-get($colors, submit400);
          width: 30px;
          height: 1px;
          position: absolute;
          left: -#{map-get($layout, padding-left)};
          top: 10px;
        }
      }
    }
  }

  >.menu-footer {
    @include font(body, basic500);
    position: absolute;
    bottom: map-get($layout, padding-top);

    > * {
      padding-bottom: 14px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.social {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 10px 8px 10px 0;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  @each $social_name, $url in $social {
    &.#{$social_name} {
      background: url(#{$url}) no-repeat;
    }
  }
}

@each $social_name, $url in $social {
  .#{$social_name} {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 10px 8px 10px 0;
    opacity: 0.3;
    background: url(#{$url}) no-repeat;

    &:hover {
      opacity: 1;
    }
  }
}

.card {
  background-color: map-get($colors, white);
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);

  @include font(body);
  @include responsive_styles($card);
}

.network-switcher {
  display: inline-block;
  border: solid 1px map-get($colors, accent50);
  border-radius: 2px;
  padding: 2px;

  > * {
    display: inline-block;
    width: 68px;
    height: 28px;

    @include font(body, disabled500);
    text-align: center;
    line-height: 28px;

    &.current {
      border-radius: 2px;
      background-color: map-get($colors, submit400);
      color: map-get($colors, white);
    }
  }
}

