@import "variables";
@import "mixins.scss";

.page-navigation {
    @include responsive_styles($card_inner);

    .page-link {
        cursor: pointer;
        border-bottom: 1px dashed map-get($colors, black);

        &:not(:last-child) {
            margin-right: 28px;
        }

        &.disabled {
            cursor: default;
            border: none;
            color: map-get($colors, basic500);
        }

        &.first {
            margin-right: 18px;
        }
        &.last {
            margin-left: 18px;
        }

        &:hover {
            border: none;
        }
    }

    .page {
        display: inline-block;
        box-sizing: border-box;
        min-width: 24px;
        height: 28px;
        border-radius: 4px;
        text-align: center;
        padding: 6px;
        margin: 0 4px;
        cursor: pointer;
        @include font(body);

        &:hover {
            background-color: map-get($colors, basic50);
        }

        &.current {
            background-color: map-get($colors, submit400);
            color: map-get($colors, white);
        }
    }
}
