@import "variables";
@import "mixins.scss";

.search-box {
    position: relative;
    transition: color .5s;
    border-bottom: 1px solid map-get($colors, basic500);

    .search {
        width: 24px;
        height: 24px;
        padding-right: 12px;
        svg {
            transition: .3s;
        }
    }

    &.active svg {
        color: map-get($colors, black);
    }

    &.focus {
        border-bottom-color: map-get($colors, submit400);
        svg {
        color: map-get($colors, submit400);
        }
    }

    &.invalid {
        border-bottom-color: map-get($colors, error500);
        svg {
            color: map-get($colors, error500);
        }

        &::after {
            content: "Nothing has been found for query";
            display: block;
            background-color: map-get($colors, error500);
            @include font(body, white);
            position: absolute;
            bottom: -48px;
            left: 36px;
            padding: 14px 24px;
            white-space: nowrap;
        }
    }

    &.loading > .search {
        background-image: url('../images/loading-24.svg');
        animation: spin 1s linear infinite;
        svg {display: none;}
    }
    @-moz-keyframes spin {
        100% {
            -moz-transform: rotate(360deg);
        }
    }
    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    > input {
        border-bottom: none;
    }

    > .clear {
        display: block;
        height: 24px;
        padding-left: 10px;
        cursor: pointer;
        @include font(body, basic500);
        line-height: 24px;
        transition: .3s;

        svg {
            display: inline-block;
            vertical-align: middle;
            margin-top: -2px;
            margin-right: 7px;
            fill: map-get($colors, basic500);
            transition: .3s;
        }

        &:hover {
            color: black;
            svg {
                fill: map-get($colors, black);
            }
        }
    }
}
