<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <table class="table blockDetails">
                    <tbody>
                    <tr>
                        <td class="col-md-2">Address</td>
                        <td>{{ctrl.address|waveaddr}}</td>
                    </tr>
                    <tr>
                        <td>Confirmations</td>
                        <td>{{ctrl.balance.confirmations}}</td>
                    </tr>
                    <tr>
                        <td>Balance</td>
                        <td>{{ctrl.balance.balance|wavelets}}</td>
                    </tr>
                    <tr>
                        <td>Generating Balance</td>
                        <td>{{ctrl.generatingBalance|wavelets}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Last 50 transactions for {{ctrl.address}}
            </div>
            <div class="panel-body">
                <table class="table blockDetails">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Timestamp</th>
                        <th>Signature</th>
                        <th>Sender</th>
                        <th></th>
                        <th>Recipient</th>
                        <th><span class="pull-right">Amount (WAVES)</span></th>
                        <th>Fee</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in ctrl.txs">
                        <td>{{item.type}}</td>
                        <td>{{item.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>
                            <a class="mono" ui-sref="tx-details({signature:item.signature})">{{item.signature|limitTo:8}}...</a>
                        </td>
                        <td ng-if="item.sender!=ctrl.address">
                            <a class="mono" ui-sref="address-details({address:item.sender})"
                               title="{{item.sender|waveaddr}}">{{item.sender|waveaddr|limitTo:15}}...</a></td>
                        <td ng-if="item.sender==ctrl.address">
                            <span class="mono">{{item.sender|waveaddr|limitTo:15}}...</span></td>
                        <td><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"
                                  ng-class="{'text-danger':item.outgoing,'text-success':!item.outgoing}"></span></td>
                        <td ng-if="item.recipient!=ctrl.address">
                            <a class="mono" ui-sref="address-details({address:item.recipient})"
                               title="{{item.recipient|waveaddr}}">{{item.recipient|waveaddr|limitTo:15}}...</a></td>
                        <td ng-if="item.recipient==ctrl.address">
                            <span class="mono">{{item.recipient|waveaddr|limitTo:15}}...</span></td>
                        <td><span class="pull-right">{{item.amount|wavelets}}</span></td>
                        <td>{{item.fee|wavelets}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>