
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
            Block {{ctrl.signature}}
            </div>

            <div class="panel-body">

                <table class="table blockDetails">
                    <tbody>
											<!--
                    <tr>
                        <td class="col-md-2">Height</td>
                        <td><button class="btn btn-primary btn-xs" ng-click="ctrl.prev()">prev</button> {{ctrl.height}} <button class="btn btn-primary btn-xs" ng-click="ctrl.next()">next</button></td>
                    </tr>-->
                    <tr>
                        <td>Version</td>
                        <td>{{ctrl.details.version}}</td>
                    </tr>
                    <tr>
                        <td>Timestamp</td>
                        <td>{{ctrl.details.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
                    <tr>
                        <td>Transactions</td>
                        <td>
                            {{ctrl.details.transactions.length}} transactions
                        </td>
                    </tr>
                    <tr>
                        <td>Parent block</td>
                        <td>
                            {{ctrl.details.reference}}
                        </td>
                    </tr>
                    <tr>
                        <td>Generator</td>
                        <td>
                            <a ui-sref="address-details({address:ctrl.details.generator})">{{ctrl.details.generator}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Signature</td>
                        <td>{{ctrl.details.signature}}</td>
                    </tr>
                    <tr>
                        <td>Fee</td>
                        <td>{{ctrl.details.fee|currency:''}}</td>
                    </tr>
                    <tr>
                        <td>Size</td>
                        <td>{{ctrl.details.blocksize}}</td>
                    </tr>
										<tr>
                        <td>Base Target</td>
                        <td>{{ctrl.details["nxt-consensus"]["base-target"]}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                Transactions in #{{ctrl.height}}
            </div>
            <div class="panel-body">
                <table class="table blockDetails">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Fee</th>
                        <th>Timestamp</th>
                        <th>Signature</th>
                        <th>Sender</th>
                        <th>Recipient</th>
                        <th><span class="pull-right">Amount</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in ctrl.details.transactions">
                        <td>{{item.type}}</td>
                        <td>{{item.fee}}</td>
                        <td>{{item.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{item.signature|limitTo:7}}...</td>
                        <td><a ui-sref="address-details({address:item.sender})" title="{{item.sender}}">{{item.sender|limitTo:7}}...</a></td>
                        <td><a ui-sref="address-details({address:item.recipient})" title="{{item.recipient}}">{{item.recipient|limitTo:7}}...</a></td>
                        <td><span class="pull-right">{{item.amount|currency:''}}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
