<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Block #{{ctrl.height}}
            </div>

            <div class="panel-body">
                <table class="table blockDetails">
                    <tbody>
                        <tr>
                            <td class="col-md-2">Height</td>
                            <td><button class="btn btn-primary btn-xs" ng-click="ctrl.prev()">prev</button> {{ctrl.height}}
                                <button class="btn btn-primary btn-xs" ng-click="ctrl.next()">next</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>{{ctrl.details.version}}</td>
                        </tr>
                        <tr>
                            <td>Timestamp</td>
                            <td>{{ctrl.details.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                        <tr>
                            <td>Transactions</td>
                            <td>{{ctrl.details.transactions.length}} transactions</td>
                        </tr>
                        <tr>
                            <td>Parent block</td>
                            <td>{{ctrl.details.reference}}</td>
                        </tr>
                        <tr>
                            <td>Generator</td>
                            <td><waves-endpoint-ref endpoint="ctrl.details.generator"></waves-endpoint-ref></td>
                        </tr>
                        <tr>
                            <td>Signature</td>
                            <td>{{ctrl.details.signature}}</td>
                        </tr>
                        <tr>
                            <td>Fee</td>
                            <td>{{ctrl.details.fee|wavelets}}</td>
                        </tr>
                        <tr>
                            <td>Size</td>
                            <td>{{ctrl.details.blocksize}}</td>
                        </tr>
                        <tr>
                            <td>Base Target</td>
                            <td>{{ctrl.details["nxt-consensus"]["base-target"]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Transactions in #{{ctrl.height}}
            </div>
            <div class="panel-body">

                <table class="table blockDetails" ng-show="ctrl.payments.length > 0">
                    <thead>
                        <tr>
                            <th colspan="6">Payments (type = 2)</th>
                        </tr>
                        <tr class="active">
                            <th>ID</th>
                            <th>Fee</th>
                            <th>Timestamp</th>
                            <th>Sender</th>
                            <th>Recipient</th>
                            <th><span class="pull-right">Amount</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ctrl.payments">
                            <td><waves-transaction-ref tx-id="item.id" max-length="12"></waves-transaction-ref></td>
                            <td>{{item.fee|wavelets}}</td>
                            <td>{{item.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td><waves-endpoint-ref endpoint="item.sender" max-length="12"></waves-endpoint-ref></td>
                            <td><waves-endpoint-ref endpoint="item.recipient" max-length="12"></waves-endpoint-ref></td>
                            <td><span class="pull-right">{{item.amount|wavelets}}</span></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table blockDetails" ng-show="ctrl.assetIssue.length > 0">
                    <thead>
                        <tr>
                            <th colspan="7">Asset Issue (type = 3)</th>
                        </tr>
                        <tr class="active">
                            <th>ID</th>
                            <th>Fee</th>
                            <th>Timestamp</th>
                            <th>Issuer</th>
                            <th>Asset ID</th>
                            <th>Asset Name</th>
                            <th><span class="pull-right">Quantity</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ctrl.assetIssue">
                            <td><waves-transaction-ref tx-id="item.id" max-length="12"></waves-transaction-ref></td>
                            <td>{{item.fee|wavelets}}</td>
                            <td>{{item.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td><waves-endpoint-ref endpoint="item.sender" max-length="12"></waves-endpoint-ref></td>
                            <td><waves-transaction-ref tx-id="item.assetId" max-length="12"></waves-transaction-ref></td>
                            <td>{{item.name}}</td>
                            <td><span class="pull-right">{{item.quantity}}</span></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table blockDetails" ng-show="ctrl.assetReissue.length > 0">
                    <thead>
                        <tr>
                            <th colspan="6">Asset Reissue (type = 5)</th>
                        </tr>
                        <tr class="active">
                            <th>ID</th>
                            <th>Fee</th>
                            <th>Timestamp</th>
                            <th>Issuer</th>
                            <th>Asset ID</th>
                            <th><span class="pull-right">Quantity</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ctrl.assetReissue">
                            <td><waves-transaction-ref tx-id="item.id" max-length="12"></waves-transaction-ref></td>
                            <td>{{item.fee|wavelets}}</td>
                            <td>{{item.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td><waves-endpoint-ref endpoint="item.sender" max-length="12"></waves-endpoint-ref></td>
                            <td><waves-transaction-ref tx-id="item.assetId" max-length="12"></waves-transaction-ref></td>
                            <td><span class="pull-right">{{item.quantity}}</span></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table blockDetails" ng-show="ctrl.assetTransfer.length > 0">
                    <thead>
                        <tr>
                            <th colspan="7">Transfers (type = 4)</th>
                        </tr>
                        <tr class="active">
                            <th>ID</th>
                            <th>Fee</th>
                            <th>Timestamp</th>
                            <th>Sender</th>
                            <th>Recipient</th>
                            <th>Asset ID</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ctrl.assetTransfer">
                            <td><waves-transaction-ref tx-id="item.id" max-length="12"></waves-transaction-ref></td>
                            <td>{{item.fee|wavelets}}</td>
                            <td>{{item.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td><waves-endpoint-ref endpoint="item.sender" max-length="12"></waves-endpoint-ref></td>
                            <td><waves-endpoint-ref endpoint="item.recipient" max-length="12"></waves-endpoint-ref></td>
                            <td><waves-transaction-ref tx-id="item.assetId" max-length="12"></waves-transaction-ref></td>
                            <td>{{item.amount}}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table blockDetails" ng-show="ctrl.exchange.length > 0">
                    <thead>
                    <tr>
                        <th colspan="6">Exchanges (type = 7)</th>
                    </tr>
                    <tr class="active">
                        <th>ID</th>
                        <th>Fee</th>
                        <th>Timestamp</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Pair</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in ctrl.exchange">
                        <td><waves-transaction-ref tx-id="item.id" max-length="12"></waves-transaction-ref></td>
                        <td>{{item.fee|wavelets}}</td>
                        <td>{{item.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.order1.assetPair.amountAsset}} / {{item.order1.assetPair.priceAsset}}</td>
                    </tr>
                    </tbody>
                </table>

                <table class="table blockDetails" ng-show="ctrl.leasing.length > 0">
                    <thead>
                        <tr>
                            <th colspan="6">Leasing (type = 8)</th>
                        </tr>
                        <tr class="active">
                            <th>ID</th>
                            <th>Fee</th>
                            <th>Timestamp</th>
                            <th>Sender</th>
                            <th>Recipient</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ctrl.leasing">
                            <td><waves-transaction-ref tx-id="item.id" max-length="12"></waves-transaction-ref></td>
                            <td>{{item.fee|wavelets}}</td>
                            <td>{{item.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td><waves-endpoint-ref endpoint="item.sender" max-length="12"></waves-endpoint-ref></td>
                            <td><waves-endpoint-ref endpoint="item.recipient" max-length="12"></waves-endpoint-ref></td>
                            <td>{{item.amount|wavelets}}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table blockDetails" ng-show="ctrl.leasingCancel.length > 0">
                    <thead>
                    <tr>
                        <th colspan="5">Cancel leasing (type = 9)</th>
                    </tr>
                    <tr class="active">
                        <th>ID</th>
                        <th>Fee</th>
                        <th>Timestamp</th>
                        <th>Sender</th>
                        <th>Leasing TX</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in ctrl.leasingCancel">
                        <td><waves-transaction-ref tx-id="item.id" max-length="12"></waves-transaction-ref></td>
                        <td>{{item.fee|wavelets}}</td>
                        <td>{{item.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td><waves-endpoint-ref endpoint="item.sender" max-length="12"></waves-endpoint-ref></td>
                        <td><waves-transaction-ref tx-id="item.leasingId"></waves-transaction-ref></td>
                    </tr>
                    </tbody>
                </table>

                <table class="table blockDetails" ng-show="ctrl.alias.length > 0">
                    <thead>
                    <tr>
                        <th colspan="5">Aliases (type = 10)</th>
                    </tr>
                    <tr class="active">
                        <th>ID</th>
                        <th>Fee</th>
                        <th>Timestamp</th>
                        <th>Sender</th>
                        <th>Alias</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in ctrl.alias">
                        <td><waves-transaction-ref tx-id="item.id" max-length="12"></waves-transaction-ref></td>
                        <td>{{item.fee|wavelets}}</td>
                        <td>{{item.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td><waves-endpoint-ref endpoint="item.sender" max-length="12"></waves-endpoint-ref></td>
                        <td>{{item.alias}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>