<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">General info</h3>
            </div>
            <div class="panel-body">
                <p>Version: {{ctrl.version}}</p>
                <p>Block generator status: {{ctrl.status.blockGeneratorStatus}}</p>
                <p>History synchronization status: {{ctrl.status.historySynchronizationStatus}}</p>

            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Consensus</h3>
            </div>
            <div class="panel-body">
                <p>Algo: {{ctrl.consensus.algo}}</p>
                <!--<p>Puz: {{ctrl.consensus.puz}}</p>-->
                <p>Base Target: <span title="{{ctrl.consensus.baseTarget}}">{{ctrl.consensus.baseTarget}}</span></p>
                <p ng-show="ctrl.avgBlockDelay">Avg Block delay: {{ctrl.avgBlockDelay|currency:''}} minutes</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Last blocks <a class="pull-right" ui-sref="blocks">View all</a></h3>

            </div>
            <div class="panel-body">

                <div class="list-group">
                    <a ng-repeat="item in ctrl.lastBlocks" ui-sref="block-details({height:item.height})" class="list-group-item">
                        <h4 class="list-group-item-heading">#{{item.height}}</h4>
                        <p>signature: {{item.signature|limitTo:12}}...</p>
                        <p class="list-group-item-text">{{item.transactions.length}} transactions. {{item.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                    </a>

                </div>

            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Unconfirmed Transactions - {{ctrl.unconfirmedTxs.length}}</h3>

            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Fee</th>
                        <th>Timestamp</th>
                        <th>Signature</th>
                        <th>Sender</th>
                        <th>Recipient</th>
                        <th><span class="pull-left">Amount</span></th>
                    </tr>
                    </thead>
                    <tr ng-repeat="item in ctrl.unconfirmedTxs">
                        <td>{{item.type}}</td>
                        <td>{{item.fee|wavelets}}</td>
                        <td>{{item.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td><a ui-sref="tx-details({signature:item.signature})">{{item.signature|limitTo:5}}...</a></td>
                        <td><a ui-sref="address-details({address:item.sender})">{{item.sender|waveaddr|limitTo:6}}...</a></td>
                        <td><a ui-sref="address-details({address:item.recipient})">{{item.recipient|waveaddr|limitTo:6}}...</a></td>
                        <td><span class="pull-left">{{item.amount|wavelets}}</span></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
