<div class="row">
    <div class="col-lg-5">
        <h1>Testnet Nodes</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>node</th>
                            <th>version</th>
                            <th>current height</th>
                            <th>base target</th>
                            <th>state hash (debug)</th>
                            <th>UTxs</th>
                            <th>maintainer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ctrl.nodes">
                            <td>{{item.url}}</td>
                            <td>{{item.version}}</td>
                            <td>{{item.height}}</td>
                            <td>{{item.baseTarget}}</td>
                            <td>{{item.debugStateHash}}</td>
                            <td>{{item.utxSize}}</td>
                            <td>{{item.maintainer}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
