<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Transaction {{ctrl.signature}}
            </div>

            <div class="panel-body">

                <table class="table blockDetails" ng-show="ctrl.details.type==2">
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td>{{ctrl.details.id}}</td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>{{ctrl.details.type}}</td>
                        </tr>
                        <tr>
                            <td>Timestamp</td>
                            <td>{{ctrl.details.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                        <tr>
                            <td>Block</td>
                            <td><waves-block-ref height="ctrl.details.height"/></td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>{{ctrl.details.amount|wavelets}}</td>
                        </tr>
                        <tr>
                            <td>Fee</td>
                            <td>{{ctrl.details.fee|wavelets}}</td>
                        </tr>
                        <tr>
                            <td>Sender</td>
                            <td><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></td>
                        </tr>
                        <tr>
                            <td>Recipient</td>
                            <td><waves-endpoint-ref endpoint="ctrl.details.recipient"></waves-endpoint-ref></td>
                        </tr>
                        <tr>
                            <td>Signature</td>
                            <td>{{ctrl.details.signature}}</td>
                        </tr>

                    </tbody>
                </table>

                <table class="table blockDetails" ng-show="ctrl.details.type==3">
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td>{{ctrl.details.id}}</td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>{{ctrl.details.type}} (Asset issue)</td>
                        </tr>
                        <tr>
                            <td>Timestamp</td>
                            <td>{{ctrl.details.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                        <tr>
                            <td>Block</td>
                            <td><waves-block-ref height="ctrl.details.height"/></td>
                        </tr>
                        <tr>
                            <td>Asset ID</td>
                            <td>{{ctrl.details.assetId}}</td>
                        </tr>
                        <tr>
                            <td>Asset Name</td>
                            <td>{{ctrl.details.name}}</td>
                        </tr>
                        <tr>
                            <td>Reissuable</td>
                            <td>{{ctrl.details.reissuable}}</td>
                        </tr>
                        <tr>
                            <td>Quantity</td>
                            <td>{{ctrl.details.quantity}}</td>
                        </tr>
                        <tr>
                            <td>Decimals</td>
                            <td>{{ctrl.details.decimals}}</td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>{{ctrl.details.quantity|assetunits:ctrl.details.decimals}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>
                                <pre>{{ctrl.details.description}}</pre>
                            </td>
                        </tr>
                        <tr>
                            <td>Fee</td>
                            <td>{{ctrl.details.fee|wavelets}} WAVES</td>
                        </tr>
                        <tr>
                            <td>Issuer</td>
                            <td><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></td>
                        </tr>
                        <tr>
                            <td>Signature</td>
                            <td>{{ctrl.details.signature}}</td>
                        </tr>

                    </tbody>
                </table>

                <table class="table blockDetails" ng-show="ctrl.details.type==4">
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td>{{ctrl.details.id}}</td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>{{ctrl.details.type}} (Asset Transfer)</td>
                        </tr>
                        <tr>
                            <td>Timestamp</td>
                            <td>{{ctrl.details.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                        <tr>
                            <td>Block</td>
                            <td><waves-block-ref height="ctrl.details.height"/></td>
                        </tr>
                        <tr>
                            <td>Asset ID</td>
                            <td><a class="mono" ui-sref="tx-details({id:ctrl.details.assetId})">{{ctrl.details.assetId}}</a></td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>{{ctrl.details.amount}}</td>
                        </tr>
                        <tr>
                            <td>Attachment</td>
                            <td><pre>{{ctrl.details.attachment}}</pre></td>
                        </tr>
                        <tr>
                            <td>Fee</td>
                            <td>{{ctrl.details.fee|assetunits:ctrl.details.assetDecimals}} {{ctrl.details.feeAsset}}</td>
                        </tr>
                        <tr>
                            <td>Sender</td>
                            <td><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></td>
                        </tr>
                        <tr>
                            <td>Recipient</td>
                            <td><waves-endpoint-ref endpoint="ctrl.details.recipient"></waves-endpoint-ref></td>
                        </tr>

                        <tr>
                            <td>Signature</td>
                            <td>{{ctrl.details.signature}}</td>
                        </tr>

                    </tbody>
                </table>

                <table class="table blockDetails" ng-show="ctrl.details.type==5">
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td>{{ctrl.details.id}}</td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>{{ctrl.details.type}} (Asset reissue)</td>
                        </tr>
                        <tr>
                            <td>Timestamp</td>
                            <td>{{ctrl.details.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                        <tr>
                            <td>Block</td>
                            <td><waves-block-ref height="ctrl.details.height"/></td>
                        </tr>
                        <tr>
                            <td>Asset ID</td>
                            <td><a class="mono" ui-sref="tx-details({id:ctrl.details.assetId})">{{ctrl.details.assetId}}</a></td>
                        </tr>
                        <tr>
                            <td>Reissuable</td>
                            <td>{{ctrl.details.reissuable}}</td>
                        </tr>
                        <tr>
                            <td>Quantity</td>
                            <td>{{ctrl.details.quantity}}</td>
                        </tr>
                        <tr>
                            <td>Fee</td>
                            <td>{{ctrl.details.fee|wavelets}} WAVES</td>
                        </tr>
                        <tr>
                            <td>Issuer</td>
                            <td><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></td>
                        </tr>
                        <tr>
                            <td>Signature</td>
                            <td>{{ctrl.details.signature}}</td>
                        </tr>

                    </tbody>
                </table>

                <table class="table blockDetails" ng-show="ctrl.details.type==7">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td>{{ctrl.details.id}}</td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>{{ctrl.details.type}} (Exchange)</td>
                        </tr>
                        <tr>
                            <td>Timestamp</td>
                            <td>{{ctrl.details.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                        <tr>
                            <td>Block</td>
                            <td><waves-block-ref height="ctrl.details.height"/></td>
                        </tr>
                        <tr>
                            <td>Matcher Address</td>
                            <td><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>{{ctrl.details.price}}</td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>{{ctrl.details.amount}}</td>
                        </tr>
                        <tr>
                            <td>Buy Matcher Fee</td>
                            <td>{{ctrl.details.buyMatcherFee|wavelets}}</td>
                        </tr>
                        <tr>
                            <td>Sell Matcher Fee</td>
                            <td>{{ctrl.details.sellMatcherFee|wavelets}}</td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr class="active">
                            <th>Asset Pair</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Amount Asset</td>
                            <td>{{ctrl.details.order1.assetPair.amountAsset}}</td>
                        </tr>
                        <tr>
                            <td>Price Asset</td>
                            <td>{{ctrl.details.order1.assetPair.priceAsset}}</td>
                        </tr>
                    </tbody>

                    <thead>
                    <tr class="active">
                        <th>Order 1</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ctrl.details.order1.id}}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{ctrl.details.order1.orderType}}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>{{ctrl.details.order1.price}}</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>{{ctrl.details.order1.amount}}</td>
                    </tr>
                    <tr>
                        <td>Timestamp</td>
                        <td>{{ctrl.details.order1.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
                    </tbody>

                    <thead>
                    <tr class="active">
                        <th>Order 2</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ctrl.details.order2.id}}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{ctrl.details.order2.orderType}}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>{{ctrl.details.order2.price}}</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>{{ctrl.details.order2.amount}}</td>
                    </tr>
                    <tr>
                        <td>Timestamp</td>
                        <td>{{ctrl.details.order2.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
                    </tbody>
                </table>

                <table class="table blockDetails" ng-show="ctrl.details.type==8">
                    <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ctrl.details.id}}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{ctrl.details.type}} (Lease)</td>
                    </tr>
                    <tr>
                        <td>Timestamp</td>
                        <td>{{ctrl.details.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
                    <tr>
                        <td>Block</td>
                        <td><waves-block-ref height="ctrl.details.height"/></td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>{{ctrl.details.amount}}</td>
                    </tr>
                    <tr>
                        <td>Fee</td>
                        <td>{{ctrl.details.fee|wavelets}} WAVES</td>
                    </tr>
                    <tr>
                        <td>Sender</td>
                        <td><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></td>
                    </tr>
                    <tr>
                        <td>Recipient</td>
                        <td><waves-endpoint-ref endpoint="ctrl.details.recipient"></waves-endpoint-ref></td>
                    </tr>
                    <tr>
                        <td>Signature</td>
                        <td>{{ctrl.details.signature}}</td>
                    </tr>

                    </tbody>
                </table>

                <table class="table blockDetails" ng-show="ctrl.details.type==9">
                    <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ctrl.details.id}}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{ctrl.details.type}} (Lease Cancel)</td>
                    </tr>
                    <tr>
                        <td>Timestamp</td>
                        <td>{{ctrl.details.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
                    <tr>
                        <td>Block</td>
                        <td><waves-block-ref height="ctrl.details.height"/></td>
                    </tr>
                    <tr>
                        <td>Leasing TX</td>
                        <td><a class="mono" ui-sref="tx-details({id:ctrl.details.leaseId})">{{ctrl.details.leaseId}}</a></td>
                    </tr>
                    <tr>
                        <td>Fee</td>
                        <td>{{ctrl.details.fee|wavelets}} WAVES</td>
                    </tr>
                    <tr>
                        <td>Sender</td>
                        <td><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></td>
                    </tr>
                    <tr>
                        <td>Signature</td>
                        <td>{{ctrl.details.signature}}</td>
                    </tr>

                    </tbody>
                </table>

                <table class="table blockDetails" ng-show="ctrl.details.type==10">
                    <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ctrl.details.id}}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{ctrl.details.type}} (Create Alias)</td>
                    </tr>
                    <tr>
                        <td>Timestamp</td>
                        <td>{{ctrl.details.timestamp|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
                    <tr>
                        <td>Block</td>
                        <td><waves-block-ref height="ctrl.details.height"/></td>
                    </tr>
                    <tr>
                        <td>Alias</td>
                        <td>{{ctrl.details.alias}}</td>
                    </tr>
                    <tr>
                        <td>Fee</td>
                        <td>{{ctrl.details.fee|wavelets}} WAVES</td>
                    </tr>
                    <tr>
                        <td>Sender</td>
                        <td><waves-endpoint-ref endpoint="ctrl.details.sender"></waves-endpoint-ref></td>
                    </tr>
                    <tr>
                        <td>Signature</td>
                        <td>{{ctrl.details.signature}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>