.navbar-form.form-search input[type=text] {
    width: 260px;
}

.profile-user-info {
    width: 100%;
}

.profile-info-name {
    white-space: nowrap;
}

.navbar-brand > img {
    display: inline;
}

.profile-activity .profile-data {
    display: inline-block;
    width: calc(100% - 50px);
}

.mono {
    font-family: monospace;
}

#loading-bar .bar {
    position: relative;
    background-color: #95C6E5 !important;
    height: 3px !important;
}

#loading-bar-spinner .spinner-icon {
    width: 24px !important;
    height: 24px !important;
    border-width: 3px !important;
    border-top-color:  #95C6E5 !important;
    border-left-color: #95C6E5 !important;
}