.navbar-form>.form-group {
    display: inline-flex;
    width: auto;
}

.navbar-form.form-search input[type=text] {
    width: 260px;
}

.growl-container.growl-fixed.top-right {
    top: 50px;
    right: 5px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .container > .navbar-header,
    .container > .navbar-collapse {
        float: none !important;
    }

    .navbar .navbar-nav > li,
    .navbar .navbar-nav > li:first-child {
        border-width: 0;
    }

    .navbar-menu.navbar-collapse {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .navbar-nav + .navbar-form {
        margin-top: 9px;
    }

    .navbar-form.form-search input[type=text] {
        width: 100%;
    }
}

.profile-user-info {
    width: 100%;
}

.profile-info-name {
    white-space: nowrap;
}

.navbar-brand > img {
    display: inline;
}

.profile-activity .profile-data {
    display: inline-block;
    width: calc(100% - 50px);
}

.mono {
    font-family: monospace;
}

#loading-bar .bar {
    background-color: #95C6E5;
    height: 3px;
}

#loading-bar-spinner .spinner-icon {
    width: 24px;
    height: 24px;
    border-width: 3px;
    border-top-color:  #95C6E5;
    border-left-color: #95C6E5;
}